@import "tailwindcss";

@theme {
  --color-primary: #F4B400;
  --color-secondary: #111827;
  --color-accent: #F8F9FA;
  --font-sans: 'Poppins', 'Inter', system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-white text-secondary font-sans antialiased;
  }
}
